@import url(http://fonts.googleapis.com/css?family=Josefin+Sans);
 body {
    font-family:'Josefin Sans';
    font-style: normal;
    font-size: 12px;
    margin: 0;
    padding: 0;
}
.video {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%
}
.video iframe {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
}
.video .overlay {
    position: absolute;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(112, 66, 20, 0.5);
}